<h1>Article Göster</h1>

<p>
  Title: <%= @article.title %>
</p

<p>
  Description: <%= @article.description %>
</p>

<%= link_to 'Düzenle', edit_article_path(@article) %> | 
<%= link_to 'Geri Dön', articles_path %>